.shadow {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
    }
.super-modal {
    position: fixed;
    width: 600px;
    top: 100px;
    left: calc(100% / 2 - 250px);
    background-color: white;
    z-index: 99;
    display: none;
    border: 2px solid #1A01CC;
    max-height: calc(100% - 100px);
    overflow: scroll;
    padding-top: 20px;
    padding-left: 15px;
}
.modal-delete {
    position: fixed;
    width: 500px;
    top: 100px;
    left: calc(100% / 2 - 250px);
    background-color: white;
    z-index: 99;
    display: none;
    border: 2px solid #1A01CC;
    max-height: calc(100% - 100px);
    overflow: scroll;
    padding: 40px 15px 20px;
}